/* Global */
.hidden {
    display: none;
}
.show {
    display: block;
}
/* HEADER */
header {
    line-height: 0;
}
.header {
    padding-top: 2rem;
}
.header img {
    width: 3.5rem;
    height: 3.5rem;
}
.navbar-brand {
    padding: 0.5rem;
    background-color: aliceblue;
    border-radius: 100px;
}
.navbar__bg {
    background-color: #0099ff;
}
.wave {
    display: inline;
    height: 1rem;
}

/* FOOTER */
/* cart */
#bubble {
    text-decoration: none;
    color: black;
    text-align: center;
    position: fixed;
    bottom: 15px;
    right: 15px;
    background-color: #fff;
    border-radius: 100px;
    padding: 1rem;
    border: 2px solid black;
    box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    font-weight: bold;
}
#bubble span {
    font-size: 1.5rem;
}
/* INDEX */
#movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* card */
.movie__card {
    border-radius: 15px;
    /* border: 5px solid yellow; */
    height: 16rem;
    width: 12rem;
    margin: 2rem 1rem 2rem 1rem;
    box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
}
.movie__card:hover {
    border: 5px solid yellow;
}
.movie__card img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* SEATS */
#seats {
    user-select: none;
    border: 3px black solid;
    padding: 2rem;
}
#seats .row {
    margin-top: 0;
}
#seats .col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* info */
#info img {
    border-radius: 20px;
    height: 35rem;
    width: 25rem;
}
#info .info__body {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
#info .material-symbols-outlined {
    color: yellow;
}
.info__center {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* asientos */
#seats img {
    width: 100%;
    height: 5rem;
}
.asiento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}
/* toast */
.info {
    color: white;
    background: linear-gradient(to right, #FFFB09, #e3e328);
    font-weight: 400;
    border-radius: 20px;
    font-weight: bold;
}
.warning {
    color: white;
    background: linear-gradient(to right, #c83c3c, #dc3636);
    font-weight: 400;
    border-radius: 20px;
    font-weight: bold;
}
/* MediaQuerys */
@media (min-width:768px) {
    #bubble {
        right: 40px;
        bottom: 30px;
    }
    .header img {
        width: 5rem;
        height: 5rem;
    }
    .navbar-brand {
        background-color: aliceblue;
        border-radius: 100px;
    }
}
/* cart */
#cart h1 {
    font-size: 1rem;
}
#cart h5 {
    font-size: 1rem;
}
.cart__item {
    padding: 1.5rem;
    border-radius: 20px;
    -webkit-box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.25);
}
.cart__delete__icon {
    cursor: pointer;
    user-select: none;
}
.cart__delete__icon:hover {
    color: #c83c3c;
}
.cart__total {
    margin-top: 1rem;
    padding: 1.5rem;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.25); 
    box-shadow: 0px 4px 30px 5px rgba(0,0,0,0.25);
}
#total {
    padding-bottom: 4rem;
}

/* buscador */
#searcher {
    border: blue 1px solid;
}