/* HEADER */
    .header {
        padding-top: 2rem;
    }
    .header img {
        width: 3.5rem;
        height: 3.5rem;
    }
    .navbar-brand {
        padding: 0.5rem;
        background-color: aliceblue;
        border-radius: 100px;
    }
    .navbar__bg {
        background-color: #0099ff;
    }
    .wave {
        display: inline;
        height: 1rem;
    }

/* INDEX */

#movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* card */
.movie__card {
    border-radius: 15px;
    /* border: 5px solid yellow; */
    height: 16rem;
    width: 12rem;
    margin: 2rem 1rem 2rem 1rem;
    box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
}
.movie__card:hover {
    border: 5px solid yellow;
}
.movie__card img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

/* SEATS */

#info img {
    border-radius: 20px;
}
#info .info__body {
    padding-top: 1rem;
    padding-bottom: 2rem;
}
.material-symbols-outlined {
    color: yellow;
}
