/* INDEX */
#movies {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
/* CARD */
.movie__card {
    border-radius: 15px;
    /* border: 5px solid yellow; */
    height: 14rem;
    width: 10rem;
    margin: 2rem 1rem 2rem 1rem;
    box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -webkit-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
    -moz-box-shadow: 2px 1px 49px -8px rgba(0,0,0,0.64);
}
.movie__card:hover {
    border: 5px solid yellow;
}
.movie__card img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
}